In [1]:
# Ans 01:

In [2]:
# A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and
# manipulation of data. Databases are used to store and manage large amounts of information, making it easier to access and work with data
# for various applications and purposes.

# There are two main categories of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases. Here's a differentiation
# between the two:
    
# SQL Databases:

# Structured Data: SQL databases are relational databases that store structured data in tables with predefined schemas. Each table consists
# of rows and columns, and the relationships between tables are defined using foreign keys.

# ACID Compliance: SQL databases are known for their strong consistency and adherence to the ACID (Atomicity, Consistency, Isolation, Durability)
# properties, ensuring data integrity and reliability.

# Schema: SQL databases require a fixed schema, which means that the structure of the data (table columns and their types) needs to be defined before
# data insertion.

# Query Language: SQL databases use a standardized query language called SQL for data manipulation and retrieval. SQL provides powerful capabilities
# for complex queries, joins, and data analysis.

# Scalability: SQL databases are typically designed for vertical scalability, which means that increasing their performance usually involves upgrading
# hardware or adding more powerful servers.

# Examples: MySQL, PostgreSQL, Oracle, SQL Server are some popular SQL database management systems.


# NoSQL Databases:

# Flexible Data Models: NoSQL databases are designed to handle unstructured or semi-structured data, making them suitable for various types of data,
# including JSON, XML, key-value pairs, and document-based data.

# BASE Semantics: NoSQL databases often follow the BASE (Basically Available, Soft state, Eventually consistent) model, which prioritizes availability
# and scalability over strict consistency. This makes them suitable for distributed and highly available systems.

# Schema-less: NoSQL databases are schema-less, meaning that you can insert data without a predefined schema. This flexibility allows for agile
# development and handling of evolving data structures.

# Query Languages: NoSQL databases use different query languages or APIs tailored to the specific database type. These languages may be less expressive
# than SQL but are designed to work with the database's data model.

# Scalability: NoSQL databases are often designed for horizontal scalability, which involves adding more servers or nodes to distribute the data and
# handle increased loads.

# Examples: MongoDB, Cassandra, Redis, and Couchbase are some popular NoSQL database systems.

In [3]:
#################################################################################
# Ans 02:

In [4]:
# DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a
# database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.
# DDL statements do not work with the actual data stored in the database; instead, they focus on defining the structure and organization of the database.

In [5]:
# CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. It specifies the structure
# of the object, including column names, data types, constraints, and other attributes.

# DROP: The DROP statement is used to delete existing database objects. It completely removes the specified object and all its data from the database.

# ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or remove columns,
# constraints, or other properties of a table or other objects.

# TRUNCATE: The TRUNCATE statement is used to delete all the rows from a table but retains the table structure. It is faster than the DROP statement,
# which deletes the table and its structure.

In [6]:
#################################################################################
# Ans 03:

In [7]:
# DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to interact with and manipulate data stored
# in a database. DML statements are responsible for performing operations on the actual data within the database, such as inserting, updating, and
# deleting records

In [8]:
# INSERT: The INSERT statement is used to add new records (rows) into a table. It allows you to specify the values for each column or use a subquery
# to insert data from another table.

# UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of specific columns in one or more
# rows based on a condition.

# DELETE: The DELETE statement is used to remove one or more records from a table based on a specified condition.

In [9]:
#################################################################################
# Ans 04:

In [10]:
# DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
# The primary DQL statement is SELECT, which allows you to specify the data you want to retrieve, filter, and sort from one or more database tables.
# SELECT statements are used extensively in database queries to extract information from a database.

In [11]:
# The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve,
# filter the rows based on conditions, and sort the results in a particular order. The basic syntax of the SELECT statement is as follows:

In [13]:
SELECT column1, column2, ...
FROM <table_name>
WHERE <condition>;

SyntaxError: invalid syntax (421428477.py, line 1)

In [12]:
# column1, column2, ...: These are the columns you want to retrieve data from. You can specify one or more columns separated by commas, or
# you can use * to select all columns.

# table_name: This is the name of the table from which you want to retrieve data.

# condition: This is an optional part of the SELECT statement that allows you to specify filtering criteria to retrieve only the rows that
# meet certain conditions.

In [13]:
SELECT *               #all
FROM employees         #name of table
WHERE salary > 55000;  #condition

SyntaxError: invalid syntax (1733348075.py, line 1)

In [14]:
#################################################################################
# Ans 05:

In [15]:
# A Primary Key is a column or a set of columns in a database table that uniquely identifies each row in that table. It ensures that each row
# has a unique identifier, and no two rows can have the same values in the primary key column(s). Here are some key points about primary keys:

# Uniqueness: Every value in the primary key column(s) must be unique within the table. This uniqueness constraint ensures that there are no
# duplicate rows.

# Not Null: A primary key column cannot have a NULL value because NULL represents the absence of a value, and primary keys must uniquely identify
# each row.

# Index: In most database systems, a primary key is automatically indexed. This index speeds up data retrieval operations on the primary key
# column(s).

# Relationships: Primary keys are often used as references (foreign keys) in other tables to establish relationships between tables.

In [16]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

SyntaxError: invalid syntax (431275090.py, line 1)

In [17]:
# A Foreign Key is a column or a set of columns in one table that is used to establish a link between the data in two tables. It creates a
# relationship between the tables by enforcing referential integrity, which means that values in the foreign key column(s) must match values
# in the primary key column(s) of another table. Here are some key points about foreign keys:

# Referential Integrity: Foreign keys ensure that data relationships between tables are maintained and that the values in the foreign key
# column(s) exist in the referenced primary key column(s).

# Relationships: Foreign keys create relationships between tables, defining how records in one table relate to records in another table.

# Cascading Actions: Foreign keys can be configured to perform cascading actions when changes are made to the referenced primary key values.
# Common cascading actions include CASCADE (automatically update or delete related records), SET NULL (set foreign key values to NULL), and
# RESTRICT (prevent changes if related records exist).

In [18]:
CREATE TABLE enrollments (
    enrollment_id INT PRIMARY KEY,
    course_id INT,
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

SyntaxError: invalid syntax (4205325113.py, line 1)

In [19]:
#################################################################################
# Ans 06:

In [20]:
# The cursor is used to execute SQL queries and we can pass the SQL query as a string to The execute() method of the cursor to execute SQL queries.

In [21]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Execute SQL queries using the execute() method of the cursor
try:
    # Example 1: SELECT statement
    cursor.execute("SELECT * FROM your_table")
    result = cursor.fetchall()
    for row in result:
        print(row)

    # Example 2: INSERT statement
    insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
    values = ("value1", "value2")
    cursor.execute(insert_query, values)
    connection.commit()  # Commit the changes to the database

    # Example 3: UPDATE statement
    update_query = "UPDATE your_table SET column1 = %s WHERE column2 = %s"
    new_value = "new_value"
    old_value = "value2"
    cursor.execute(update_query, (new_value, old_value))
    connection.commit()

    # Example 4: DELETE statement
    delete_query = "DELETE FROM your_table WHERE column1 = %s"
    value_to_delete = "value1"
    cursor.execute(delete_query, (value_to_delete,))
    connection.commit()
    
except mysql.connector.Error as error:
    print("Error:", error)

# Close the cursor and the database connection
cursor.close()
connection.close()

DatabaseError: 2005 (HY000): Unknown MySQL server host 'your_host' (11001)

In [ ]:
#################################################################################
# Ans 07:

In [ ]:
# In SQL, a query typically consists of several clauses that are executed in a specific order. The order of execution of SQL clauses in a
# query generally follows this sequence:

# FROM: The FROM clause specifies the tables from which you are retrieving data. It is the first clause in the query and defines the source
# tables for the query.

# JOIN: If your query involves multiple tables and requires combining data from these tables, the JOIN clause is used to establish the relationships
# between the tables. JOINs can be INNER JOIN, LEFT JOIN, RIGHT JOIN, or FULL JOIN, depending on how you want to join the tables.

# WHERE: The WHERE clause is used to filter rows from the tables specified in the FROM clause. It defines the conditions that rows must meet
# to be included in the result set. Rows that don't satisfy the WHERE conditions are excluded.

# GROUP BY: If you need to group rows based on one or more columns, you can use the GROUP BY clause. It is typically followed by aggregate
# functions (e.g., COUNT, SUM, AVG) to perform calculations on groups of rows.

# HAVING: The HAVING clause is used in conjunction with the GROUP BY clause to filter grouped rows based on aggregate values. It specifies
# conditions that apply to groups, similar to the WHERE clause for individual rows.

# SELECT: The SELECT clause determines which columns from the tables and expressions should be included in the result set. It follows the
# previous clauses and specifies what data you want to retrieve.

# DISTINCT: If you want to remove duplicate rows from the result set, you can use the DISTINCT keyword in the SELECT clause. It ensures that
# only unique rows are returned.

# ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. You can specify the sorting order (ASC for ascending
# or DESC for descending).

# LIMIT/OFFSET: If you want to limit the number of rows returned or skip a certain number of rows, you can use the LIMIT and OFFSET clauses.
# These are often used for pagination or restricting query results to a specific range.

# UNION/INTERSECT/EXCEPT: If you need to combine results from multiple queries, you can use UNION (to combine and remove duplicates), INTERSECT
# (to return common rows), or EXCEPT (to return rows from the first query that are not in the second query).

# Parentheses: Parentheses can be used to group conditions and subqueries within the clauses, controlling the order of evaluation when complex
# queries are involved.

In [22]:
#################################################################################