In [1]:
import pandas as pd

In [30]:
# Ans 01:

In [2]:
l = [4,8,15,16,23,42]

In [3]:
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [31]:
############################################################################################
# Ans 02:

In [5]:
l2 = [1,2,3,4,5,'Gary','Gaurav','Headless Head']

In [6]:
pd.Series(l2)

0                1
1                2
2                3
3                4
4                5
5             Gary
6           Gaurav
7    Headless Head
dtype: object

In [32]:
############################################################################################
# Ans 03:

In [7]:
l3 = [('Name', 'Age', 'Gender'),
      ('Alice', 25, 'Female'),
      ('Bob', 30, 'Male'),
      ('Claire', 27, 'Female')
     ]

In [13]:
import csv

with open('dataAlice.csv', 'w') as f:
    writer = csv.writer(f)
    
    for i in l3:
        writer.writerow(i)

In [14]:
pd.read_csv('dataAlice.csv')

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
############################################################################################
# Ans 04:

In [16]:
# In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).
# It is one of the most commonly used data structures in pandas and is similar to a spreadsheet or SQL table. Each column in a DataFrame can be of a different
# data type (e.g., integers, floats, strings) and is essentially a Series object, but all columns share the same index.

# On the other hand, a Series in pandas is a one-dimensional array-like object that can hold data of any type. It is essentially a labeled array with an
# index. A DataFrame is composed of one or more Series objects where each Series represents a column in the DataFrame.

# Let's illustrate the difference between a DataFrame and a Series with an example:

In [17]:
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4, 5], name="Numbers")

# Creating a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago", "San Francisco", "Miami"]
}
df = pd.DataFrame(data)

# Displaying the Series
print("Series:")
print(series_data)
print("\n")

# Displaying the DataFrame
print("DataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64


DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2  Charlie   35        Chicago
3    David   28  San Francisco
4      Eve   22          Miami

In [ ]:
# In the example above, series_data is a Series that holds a sequence of numbers, and it has a name ("Numbers"). On the other hand, df is a DataFrame that
# contains tabular data with multiple columns (Name, Age, City). Each column in the DataFrame is a separate Series (e.g., "Name" is a Series of strings,
# "Age" is a Series of integers, and "City" is a Series of strings).

# In summary, the key differences are:

# Dimension: A Series is one-dimensional, whereas a DataFrame is two-dimensional.
# Homogeneity: A Series contains data of a single type, while a DataFrame can have columns with different data types.
# Multiple Columns: A DataFrame is a collection of Series objects, where each column is a Series.

In [18]:
############################################################################################
# Ans 05:

In [19]:
# Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions and operations you can
# use to work with DataFrame data:

# Selecting Data:
# df[column] or df[[column1, column2]]: Select one or multiple columns by name.
# df.loc[row_label] or df.loc[row_label, column_label]: Select data by labels.
# df.iloc[row_index] or df.iloc[row_index, column_index]: Select data by integer index.
# df.head(n) and df.tail(n): View the first or last n rows.

# Filtering Data:
# df[df['column'] > value]: Apply a condition to filter rows.
# df.query('condition'): Use SQL-like syntax to filter rows.

# Sorting Data:
# df.sort_values(by='column'): Sort the DataFrame by the values in a specific column.
# df.sort_index(): Sort the DataFrame by index.

# Aggregation:
# df.groupby('column').agg(func): Group data by a column and apply aggregation functions (e.g., sum, mean, count).
# df.pivot_table(values='column', index='row_column', aggfunc='func'): Create pivot tables for summarizing data.

# Data Cleaning:
# df.drop(columns=['column1', 'column2']): Remove specific columns.
# df.drop_duplicates(): Remove duplicate rows.
# df.fillna(value): Fill missing values with a specified value.

# Data Transformation:
# df.apply(function): Apply a function to each element or row/column.
# df.replace(old_value, new_value): Replace specific values.
# df.rename(columns={'old_name': 'new_name'}): Rename columns.
# df.melt(id_vars=['column']): Unpivot/melt the DataFrame.

# Combining DataFrames:
# pd.concat([df1, df2]): Concatenate DataFrames vertically or horizontally.
# pd.merge(df1, df2, on='key_column'): Perform SQL-style joins on DataFrames.

# Reshaping Data:
# df.transpose(): Transpose the DataFrame.
# df.stack() and df.unstack(): Stack and unstack data from wide to long format and vice versa.

# Computing Summary Statistics:
# df.describe(): Compute summary statistics (mean, std, min, max, etc.).
# df.value_counts(): Count unique values in a column.

# Datetime Operations:
# pd.to_datetime(df['column']): Convert a column to datetime.
# Extract components (e.g., year, month) from datetime columns.

# Visualization:
# df.plot(): Create basic plots directly from the DataFrame using Matplotlib integration.
# df.hist() and df.plot.hist(): Create histograms.

# Saving and Loading Data:
# df.to_csv('filename.csv'): Save DataFrame to a CSV file.
# pd.read_csv('filename.csv'): Load data from a CSV file into a DataFrame.


# These are just some of the common operations you can perform on a Pandas DataFrame. Pandas provides a rich set of functionality for data manipulation,
# and you can combine and chain these functions to perform complex data transformations and analysis tasks.

In [20]:
############################################################################################
# Ans 06:

In [21]:
# Series (Mutable): A Series is mutable, which means you can modify its values after creation. You can change the values of specific elements in a Series
# by accessing them and assigning new values.

In [22]:
import pandas as pd

# Creating a mutable Series
series_data = pd.Series([1, 2, 3, 4, 5])

# Modifying a value
series_data[2] = 99

In [23]:
series_data

0     1
1     2
2    99
3     4
4     5
dtype: int64

In [24]:
# DataFrame (Mutable): A DataFrame is also mutable, allowing you to modify its content. You can add or remove columns, update values, or perform various
# data manipulation operations.

In [25]:
import pandas as pd

# Creating a mutable DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
}
df = pd.DataFrame(data)

# Modifying a column
df["Age"] = [26, 31, 36]

In [27]:
df['Age']

0    26
1    31
2    36
Name: Age, dtype: int64

In [28]:
type(df['Name'])

pandas.core.series.Series

In [29]:
############################################################################################
# Ans 06:

In [35]:
import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series(['apple', 'banana', 'cherry'])
series3 = pd.Series([10.5, 8.0, 6.75])

# Combine the Series into a dictionary
data = {'Column1': series1, 'Column2': series2, 'Column3': series3}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   Column1 Column2  Column3
0        1   apple    10.50
1        2  banana     8.00
2        3  cherry     6.75

In [36]:
############################################################################################